
BolnicaSims/bin/Debug/netcoreapp3.1/BolnicaSims.runtimeconfig.dev.json
BolnicaSims/bin/Debug/netcoreapp3.1/BolnicaSims.pdb
BolnicaSims/bin/Debug/netcoreapp3.1/BolnicaSims.exe
BolnicaSims/bin/Debug/netcoreapp3.1/BolnicaSims.dll
BolnicaSims/.vs/BolnicaSims/v16/.suo
BolnicaSims/.vs/BolnicaSims/DesignTimeBuild/.dtbcache.v2
BolnicaSims/obj/BolnicaSims.csproj.nuget.dgspec.json
BolnicaSims/obj/BolnicaSims.csproj.nuget.g.props
BolnicaSims/obj/BolnicaSims.csproj.nuget.g.props
BolnicaSims/obj/BolnicaSims.csproj.nuget.dgspec.json
BolnicaSims/obj/Debug/netcoreapp3.1/App.g.cs
BolnicaSims/obj/Debug/netcoreapp3.1/App.g.i.cs
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.assets.cache
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.csproj.CoreCompileInputs.cache
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.csproj.FileListAbsolute.txt
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.csprojAssemblyReference.cache
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.designer.runtimeconfig.json
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.dll
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.pdb
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.genruntimeconfig.cache
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.g.resources
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims.dll
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims_MarkupCompile.lref
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims_MarkupCompile.i.cache
BolnicaSims/obj/Debug/netcoreapp3.1/BolnicaSims_MarkupCompile.cache
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePacijenta.baml
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePregleda.baml
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjeProstorije.baml
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePacijenta.g.cs
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePacijenta.g.i.cs
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePregleda.g.cs
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjePregleda.g.i.cs
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjeProstorije.g.i.cs
BolnicaSims/obj/Debug/netcoreapp3.1/DodavanjeProstorije.g.cs
*.baml
BolnicaSims/obj/Debug/netcoreapp3.1/IzmenaPacijenta.g.cs
BolnicaSims/obj/Debug/netcoreapp3.1/IzmenaPacijenta.g.i.cs
BolnicaSims/obj/project.nuget.cache
BolnicaSims/obj/project.assets.json
*.baml
*.cache
*.cache
